In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import sqlite3
%matplotlib inline
from IPython.core.display import HTML
pd.options.display.max_columns = 50
import seaborn as sb
import datetime
HTML("<style>.container { width:100% !important; }</style>")

In [2]:
sql_conn = sqlite3.connect('flask_app/data/analysed_data.sql')
sql_cursor = sql_conn.cursor()

In [7]:
pd.read_sql('''SELECT * FROM name_lookups''', con=sql_conn)

,name_1,name_2,region,session_ID,sex_name_1,sex_name_2,time,user_ID
0,Caroline,,Belgie,c3WgKBWpbYWGfJyutOflae77822n2ACG,F,F,2016-09-17 20:17:20.899349,wbwCqGiw9/OnompOE6L6vCpIC93t53+U