In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import sqlite3
%matplotlib inline
from IPython.core.display import HTML
pd.options.display.max_columns = 50
import seaborn as sb
import datetime
from sqlalchemy import create_engine
import psycopg2
HTML("<style>.container { width:100% !important; }</style>")

In [46]:
sql_conn_local = sqlite3.connect('flask_app/data/analysed_data.sql')
sql_cursor_local = sql_conn.cursor()
engine_AWS = create_engine('postgresql://%s:%s@forespellpostgis.cusejoju89w7.eu-west-1.rds.amazonaws.com:5432/grb_2016_03' %('kasper', 'VosseM08'))

OperationalError: missing "=" after "postgresql://kasper:VosseM08@forespellpostgis.cusejoju89w7.eu-west-1.rds.amazonaws.com:5432/grb_2016_03" in connection info string

In [51]:
name_lookups = pd.read_sql('''SELECT * FROM name_lookups LIMIT 5''', con=sql_conn_local)
name_lookups.to_sql(con=engine_AWS, name='name_lookups', index=False, if_exists='replace')

In [70]:
pd.read_sql('''SELECT * FROM name_lookups''', con=engine_AWS).tail(5)

,name_1,name_2,region,session_ID,sex_name_1,sex_name_2,time,user_ID
4,Carolien,Caroline,,tzYU56BtrCNdvRp4Ydur4qqp9nZhEKHD,F,F,2016-09-17 20:26:08.921454,wbwCqGiw9/OnompOE6L6vCpIC93t53+U
5,Karel,Caroline,Belgie,ttCDD+WANqAHGuhwlRURWYX+mvEz0Afk,M,F,2016-09-18 17:08:17.346258,3gG4j0QstaS/DoYZfBTQMlCOfcoo7/0G
6,Karel,,Belgie,ia4CIb19ASzCJW2m70yhuVgy/8vejcpN,M,F,2016-09-18 17:08:58.599559,gyIivrZNDOiis8mhj7J9nSHeSbeRIEOa
7,Caroline,Kasper,Belgie,b5cDg8b2SPAe5tLhyxMNCUeQwA3436qK,F,M,2016-09-18 17:10:11.089488,gyIivrZNDOiis8mhj7J9nSHeSbeRIEOa
8,Kasper,Caroline,Belgie,E0IcScWf0sQqcglXrMGgMAF6J2XhrYCT,M,F,2016-09-18 17:11:10.652066,gyIivrZNDOiis8mhj7J9nSHeSbeRIEOa

In [71]:
pd.read_sql('''SELECT * FROM feedback''', con=engine_AWS).tail(5)

,feedback,name,session_id,time,user_id,sex
439,like,Emile,hMErCykJ4PQyxpKyKcVJZJEajQC5oJWt,2016-09-05 11:50:11.941045,wbwCqGiw9/OnompOE6L6vCpIC93t53+U,M
440,no_like,Richard,hMErCykJ4PQyxpKyKcVJZJEajQC5oJWt,2016-09-05 11:50:19.174217,wbwCqGiw9/OnompOE6L6vCpIC93t53+U,M
441,no_like,Sasha,hMErCykJ4PQyxpKyKcVJZJEajQC5oJWt,2016-09-05 11:50:54.944717,wbwCqGiw9/OnompOE6L6vCpIC93t53+U,M
442,no_like,Diego,hMErCykJ4PQyxpKyKcVJZJEajQC5oJWt,2016-09-05 11:51:12.248166,wbwCqGiw9/OnompOE6L6vCpIC93t53+U,M
443,no_like,Alexis,hMErCykJ4PQyxpKyKcVJZJEajQC5oJWt,2016-09-05 11:51:18.306556,wbwCqGiw9/OnompOE6L6vCpIC93t53+U,M

In [72]:
pd.read_sql('''SELECT * FROM sessions''', con=engine_AWS).tail(5)

,ip_address,session_ID,time,user_ID,user_agent,window_height,window_width
333,127.0.0.1,ttCDD+WANqAHGuhwlRURWYX+mvEz0Afk,2016-09-18 17:08:05.412191,3gG4j0QstaS/DoYZfBTQMlCOfcoo7/0G,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.10; ...,766,1440
334,127.0.0.1,ia4CIb19ASzCJW2m70yhuVgy/8vejcpN,2016-09-18 17:08:50.166670,gyIivrZNDOiis8mhj7J9nSHeSbeRIEOa,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3...,150,1280
335,127.0.0.1,b5cDg8b2SPAe5tLhyxMNCUeQwA3436qK,2016-09-18 17:10:03.835002,gyIivrZNDOiis8mhj7J9nSHeSbeRIEOa,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3...,391,1280
336,127.0.0.1,E0IcScWf0sQqcglXrMGgMAF6J2XhrYCT,2016-09-18 17:11:02.722404,gyIivrZNDOiis8mhj7J9nSHeSbeRIEOa,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3...,391,1280
337,127.0.0.1,JwLm6IqN9rP5P+T73l8dpX0fyJtYrF9v,2016-09-18 17:12:35.963271,gyIivrZNDOiis8mhj7J9nSHeSbeRIEOa,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3...,391,1280

In [55]:
feedback = pd.read_sql('''SELECT * FROM feedback''', con=engine_AWS)
feedback.columns = [column.lower() for column in feedback.columns]
feedback.to_sql(con=engine_AWS, name='feedback',index=False, if_exists='replace')

In [68]:
pd.read_sql('''SELECT * FROM feedback''', con=engine_AWS).tail()

,feedback,name,session_id,time,user_id,sex
439,like,Emile,hMErCykJ4PQyxpKyKcVJZJEajQC5oJWt,2016-09-05 11:50:11.941045,wbwCqGiw9/OnompOE6L6vCpIC93t53+U,M
440,no_like,Richard,hMErCykJ4PQyxpKyKcVJZJEajQC5oJWt,2016-09-05 11:50:19.174217,wbwCqGiw9/OnompOE6L6vCpIC93t53+U,M
441,no_like,Sasha,hMErCykJ4PQyxpKyKcVJZJEajQC5oJWt,2016-09-05 11:50:54.944717,wbwCqGiw9/OnompOE6L6vCpIC93t53+U,M
442,no_like,Diego,hMErCykJ4PQyxpKyKcVJZJEajQC5oJWt,2016-09-05 11:51:12.248166,wbwCqGiw9/OnompOE6L6vCpIC93t53+U,M
443,no_like,Alexis,hMErCykJ4PQyxpKyKcVJZJEajQC5oJWt,2016-09-05 11:51:18.306556,wbwCqGiw9/OnompOE6L6vCpIC93t53+U,M

In [67]:
engine_AWS.execute('''DELETE FROM feedback WHERE time ='F' ''')