In [1]:
import pandas as pd
import numpy as np
import subprocess
from sqlalchemy import create_engine
import os
%matplotlib inline
import psycopg2
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

from IPython.core.display import HTML
HTML("<style>.container { width:100% !important; }</style>")

In [2]:
# Connection to AWS database
conn = psycopg2.connect("dbname='grb_2016_03' host='forespellpostgis.cusejoju89w7.eu-west-1.rds.amazonaws.com' user='kasper' password='VosseM08'")
cur = conn.cursor()
engine = create_engine('postgresql://kasper:VosseM08@forespellpostgis.cusejoju89w7.eu-west-1.rds.amazonaws.com:5432/grb_2016_03')

In [3]:
# Check excisting roles
existing_roles = pd.read_sql('''SELECT * FROM pg_roles''', con=engine)
existing_roles

            rolname rolsuper rolinherit rolcreaterole rolcreatedb rolcatupdate rolcanlogin rolreplication  rolconnlimit rolpassword               rolvaliduntil                                          rolconfig    oid
0          rdsadmin     True       True          True        True         True        True           True            -1    ********  9999-12-31 23:59:59.999999  [log_statement=all, log_min_error_statement=de...     10
1            kasper    False       True          True        True        False        True          False            -1    ********  9999-12-31 23:59:59.999999                               [search_path=public]  16386
2     rds_superuser    False       True         False       False        False       False          False            -1    ********                        None                                               None  16387
3      rdsrepladmin    False      False         False       False        False       False           True            -1    ********                        None                                               None  16388
4  duke_development    False       True         False       False        False        True          False            -1    ********                        None               [search_path=urbadm_2016_08, public]  69838
5      namabayi_dev    False       True         False       False        False        True          False            -1    ********                        None                             [search_path=namabayi]  70630

In [4]:
# No createuser, no createdb, no superuser are the defaults
try:
    print('Current Roles:%s' %str(pd.read_sql('''SELECT rolname FROM pg_roles''', con=engine)['rolname']))
    cur.execute('''CREATE USER namabayi_dev
                            WITH PASSWORD 'namabayi_dev_40';'''.replace('\n', ''))
    conn.commit()
    print('Current Roles:%s' %str(pd.read_sql('''SELECT rolname FROM pg_roles''', con=engine)['rolname']))
except Exception as e:
    print(e)
    conn.rollback()

Current Roles:0              kasper
1       rds_superuser
2        rdsrepladmin
3            rdsadmin
4    duke_development
Name: rolname, dtype: object
Current Roles:0              kasper
1       rds_superuser
2        rdsrepladmin
3            rdsadmin
4    duke_development
5        namabayi_dev
Name: rolname, dtype: object

In [13]:
# Give him only privileges to namabayi
try:
    cur.execute('''REVOKE CONNECT ON DATABASE grb_2016_03 FROM PUBLIC;''')
    cur.execute('''GRANT CONNECT ON DATABASE grb_2016_03  TO namabayi_dev;''')

    cur.execute('''GRANT USAGE
                        ON SCHEMA namabayi
                        TO namabayi_dev; '''.replace('\n', ''))
    cur.execute('''GRANT ALL
                        ON ALL TABLES IN SCHEMA namabayi TO namabayi_dev ;'''.replace('\n', ''))    
    conn.commit()
except Exception as e:
    print(e)
    conn.rollback()

In [4]:
# Give him only privileges to namabayi
try:
    cur.execute('''GRANT USAGE
                        ON SCHEMA public
                        TO namabayi_dev; '''.replace('\n', ''))
    conn.commit()
except Exception as e:
    print(e)
    conn.rollback()

In [11]:
# Make namabayi default schema
try:
    cur.execute('''ALTER ROLE namabayi_dev SET search_path TO namabayi;''')   
    conn.commit()
except Exception as e:
    print(e)
    conn.rollback()

In [6]:
# Transfer tables
try:
    cur.execute('''ALTER TABLE feedback
                         SET SCHEMA namabayi''') 
    cur.execute('''ALTER TABLE name_lookups
                         SET SCHEMA namabayi''') 
    cur.execute('''ALTER TABLE sessions
                         SET SCHEMA namabayi''') 
    cur.execute('''ALTER TABLE voornamen_pivot
                         SET SCHEMA namabayi''') 
    conn.commit()
except Exception as e:
    print(e)
    conn.rollback()