In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import sqlite3
%matplotlib inline
from IPython.core.display import HTML
pd.options.display.max_columns = 50
import seaborn as sb
import datetime
from sqlalchemy import create_engine
import psycopg2
HTML("<style>.container { width:100% !important; }</style>")

In [46]:
sql_conn_local = sqlite3.connect('flask_app/data/analysed_data.sql')
sql_cursor_local = sql_conn.cursor()
engine_AWS = create_engine('postgresql://%s:%s@forespellpostgis.cusejoju89w7.eu-west-1.rds.amazonaws.com:5432/grb_2016_03' %('kasper', 'VosseM08'))

OperationalError: missing "=" after "postgresql://kasper:VosseM08@forespellpostgis.cusejoju89w7.eu-west-1.rds.amazonaws.com:5432/grb_2016_03" in connection info string

In [51]:
name_lookups = pd.read_sql('''SELECT * FROM name_lookups LIMIT 5''', con=sql_conn_local)
name_lookups.to_sql(con=engine_AWS, name='name_lookups', index=False, if_exists='replace')

In [52]:
pd.read_sql('''SELECT * FROM name_lookups LIMIT 5''', con=engine_AWS)

,name_1,name_2,region,session_ID,sex_name_1,sex_name_2,time,user_ID
0,Caroline,,Belgie,c3WgKBWpbYWGfJyutOflae77822n2ACG,F,F,2016-09-17 20:17:20.899349,wbwCqGiw9/OnompOE6L6vCpIC93t53+U
1,,,Belgie,pprYNQidMNQt69aSzm2G6CQK/KIbUVg+,F,F,2016-09-17 20:19:28.923617,wbwCqGiw9/OnompOE6L6vCpIC93t53+U
2,Caroline,Karel,Belgie,pprYNQidMNQt69aSzm2G6CQK/KIbUVg+,F,F,2016-09-17 20:19:44.252927,wbwCqGiw9/OnompOE6L6vCpIC93t53+U
3,Caroline,Karel,Belgie,pprYNQidMNQt69aSzm2G6CQK/KIbUVg+,F,M,2016-09-17 20:19:49.808099,wbwCqGiw9/OnompOE6L6vCpIC93t53+U
4,Carolien,Caroline,,tzYU56BtrCNdvRp4Ydur4qqp9nZhEKHD,F,F,2016-09-17 20:26:08.921454,wbwCqGiw9/OnompOE6L6vCpIC93t53+U

In [55]:
feedback = pd.read_sql('''SELECT * FROM feedback''', con=engine_AWS)
feedback.columns = [column.lower() for column in feedback.columns]
feedback.to_sql(con=engine_AWS, name='feedback',index=False, if_exists='replace')

In [66]:
pd.read_sql('''SELECT * FROM feedback''', con=engine_AWS).tail()

,feedback,name,session_id,time,user_id,sex
441,no_like,Sasha,hMErCykJ4PQyxpKyKcVJZJEajQC5oJWt,2016-09-05 11:50:54.944717,wbwCqGiw9/OnompOE6L6vCpIC93t53+U,M
442,no_like,Diego,hMErCykJ4PQyxpKyKcVJZJEajQC5oJWt,2016-09-05 11:51:12.248166,wbwCqGiw9/OnompOE6L6vCpIC93t53+U,M
443,no_like,Alexis,hMErCykJ4PQyxpKyKcVJZJEajQC5oJWt,2016-09-05 11:51:18.306556,wbwCqGiw9/OnompOE6L6vCpIC93t53+U,M
444,like,Louise,HA5TY37vh1zgHMVPMIqbeEv9MeaRueT5,F,2016-09-18 16:48:07.363887,gyIivrZNDOiis8mhj7J9nSHeSbeRIEOa
445,like,Louise,kQ2h8IbrMjVMluI5/CozLhQlmGwmen2C,F,2016-09-18 16:49:00.339110,gyIivrZNDOiis8mhj7J9nSHeSbeRIEOa

In [65]:
engine_AWS.execute('''DELETE FROM feedback WHERE time ='F' ''')